#content{
    text-align: center;
}

canvas{
    border:3px double #0a0a61;
    background-color: #190549;
    opacity: 0.95;
}
body{
    background-color: #3a6285;
    color:white;
    margin:0;
    background-image: url("bg-2.jpg");
    background-size: cover;
}

img{
    position: absolute;
    padding: 30px;
}

.bt{
    padding: 8px;
    border-radius: 20px;
    font-size: larger;
    opacity: 0.9;
}

.b1{
    background-color: greenyellow;
    border: 2px solid green;
}
.b2{
    background-color: #d15959;
    border: 2px solid red;
}
.b3{
    background-color: #2c74d3;
    border: 2px solid blue;
}
.b4{
    background-color: #e6e954;
    border: 2px solid yellow;
}

.b1:hover{
    background-color: #68991f;
    border: 2px solid green;
    color:white;
}
.b2:hover{
    background-color: #b34444;
    border: 2px solid red;
    color:white;
}
.b3:hover{
    background-color: #0f66d8;
    border: 2px solid blue;
    color:white;
}
.b4:hover{
    background-color: #dde015;
    border: 2px solid yellow;
}